@charset "utf-8";
/* CSS Document */
/*----------------------------------------*/
html/*site background for home page*/
{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	background-image: url(img/R07-NASCAR-V-8-head-and-pistons.jpg);
	opacity:0.90;
}
/*----------------------------------------*/
#home/*site background for home page*/
{
	
}
/*----------------------------------------*/
#services/*site background for services page*/
{
	
}
/*----------------------------------------*/
#projects/*site background for projects page*/
{
	
}
/*----------------------------------------*/
#racing/*site background for racing page*/
{
	
}
/*----------------------------------------*/
#schedule/*site background for schedule page*/
{
	
}
/*----------------------------------------*/
#sponsors/*site background for sponsors page*/
{
	
}
/*----------------------------------------*/
#contact/*site background for contact page*/
{
	
}
/*----------------------------------------*/
body/*minimum site dimensions*/
{
	min-width:600px;
}
/*----------------------------------------*/
a/*no decoration for all links*/
{
	text-decoration: none;
	color: black;
}
/*----------------------------------------*/
.headerContainer/*div for site title and navigation buttons*/
{
	position:fixed;
	top:0px;
	padding:10px;
	width:100%;
	min-width:600px;
	clear:both;
	z-index:1;
}
/*----------------------------------------*/
.headerBackground/*site header size, color and background*/
{
	padding-left:5px;
	padding-bottom:5px;
	z-index:2;
}
/*----------------------------------------*/
#headerText/*site header text styling*/
{
	font-size: 50px;
	font-weight: bold;
	text-shadow:white 1px 1px;
	color:#990000;
	z-index:3;
}
/*----------------------------------------*/
.navBarButton/*site navigation links*/
{
	border: 2px solid #900;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 15px;
	background-color: white;
	height: 20px;
	width: 12%;
	float: left;
	text-align: center;
	font-weight: bold;
}
/*----------------------------------------*/
.navBarButton:hover/*site navigation links when hovered*/
{
	border-color:#F00;
	border-radius: 4px;
	margin-left: 5px;
	margin-top: 15px;
	background-color: #FFC;
	height: 20px;
	width: 12%;
	float: left;
	text-align: center;
	font-weight:bolder;
}
/*----------------------------------------*/
.headerBodySeperator/*keeps body elements below header*/
{
	width:100%;
	height:110px;
	clear:both;
}
/*----------------------------------------*/
.contentContainer
{
	float:left;
	min-width:400px;
	width:70%;
	border:1px solid black;
	position:fixed;
	font-weight:bold;
	background-color:white;
	opacity:0.80;
	padding:10px;
	margin:10px;
}
/*----------------------------------------*/
.contentContainerHeader
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	width:100%;
	text-shadow:red 1px 1px;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}
/*----------------------------------------*/
#contactInfoHeader
{
	background-image:url(img/notepad_pencil_notebook_7745_1400x1050.jpg);
}

/*----------------------------------------*/
#servicesInfoHeader
{
	background-image:url(img/kwmotorsportsBackgroundMotorStairs.jpg);
}
/*----------------------------------------*/
#racingInfoHeader
{
	background-image:url(img/checkered-flag.jpg);
}
/*----------------------------------------*/
#sponsorInfoHeader
{
	background-image:url(img/checkbook.jpg);
}
/*----------------------------------------*/
.sponsorLogos
{
	width:100px;
	height:auto;
	display:inline-block;
	background-color:#FF9900;
	border:1px solid black;
	border-radius:5px;
	margin:5px;
	text-align:center;
}
/*----------------------------------------*/
.adSpace
{
	position: relative;
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
	height: 300px;
	width: 150px;
	margin: 10px;
	font-size: 10px;
	text-align: center;
	float: right;
	clear: both;
}
/*----------------------------------------*/
.adSpace:hover/*makes ad space less transparent when hovered*/
{
	opacity: 1.0;
}
/*----------------------------------------*/
.adSpaceContent/*ad space text at bottom left of ad space div*/
{
	position: absolute; bottom: 4px; left: 4px;
}
/*----------------------------------------*/
.footerContainer
{
	position:fixed;
	bottom:0px;
	width:100%;
	min-width:600px;
	clear:both;
}
/*----------------------------------------*/
.footerReferences
{
	position:relative;
	bottom:-120px;
	float:left;
	text-align:center;
	margin-left:10px;
	margin-right:10px;
}
/*----------------------------------------*/
#socialMediaFooter:hover/*makes full social media div visible on hover*/
{
	position:relative;
	bottom:-70px;
}
/*----------------------------------------*/
.socialMediaButton/*base social media buttons*/
{
	height:25px;
	width:75px;
	border:1px solid black;
	border-radius:10px;
	background-color:white;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:15px;
	text-align:center;
	padding-top:5px;
	font-weight:bold;
}
/*----------------------------------------*/
#facebook/*facebook specific button style*/
{
	/*replace with pre-built code from social site*/
	background-color:#0033CC;
	border-color:#0000CC;
	color:#999999;
}
/*----------------------------------------*/
#facebook:hover/*facebook specific button style on hover*/
{
	/*replace with pre-built code from social site*/
	background-color:#003399;
	border-color:#000099;
	color:#FFFFFF;
}
/*----------------------------------------*/
#twitter/*twitter specific button style*/
{
	/*replace with pre-built code from social site*/
	background-color:#0066FF;
	border-color:#0033FF;
	color:#999999;
}
/*----------------------------------------*/
#twitter:hover/*twitter specific button style on hover*/
{
	/*replace with pre-built code from social site*/
	background-color:#0066CC;
	border-color:#0033CC;
	color:#FFFFFF;
}
/*----------------------------------------*/
.shopAddressContainer/*container for shop address*/
{
	background-color:#3F0;
	border: 1px solid black;
	border-radius:5px;
	padding-left:10px;
	padding-right:10px;
	width:inherit;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:15px;
	text-align:left;
}
/*----------------------------------------*/
#shopAddressFooter:hover/*makes full address div visible on hover*/
{
	position:relative;
	bottom:0px;
}
/*----------------------------------------*/
h4/*styling for footer titles within footer divs*/
{
	background-color:white;
	border: 1px solid black;
	border-radius:5px;
}
/*----------------------------------------*/
.footerBodySeperator/*keeps body elements below header*/
{
	width:100%;
	height:20px;
	clear:both;
	bottom:0px;
}
/*----------------------------------------*/